{% extends 'indizio/base.html' %}

{% block title1 %}
	Benvenuta
{% endblock %}

{% block content1_title %}
	Questo è un sito dinamico
{% endblock content1_title %}

{% block content1 %}
	Creato con e grazie al signor Django.
{% endblock content1 %}

{% block title2 %}
	L'idea era quella di scrivere una storia
{% endblock %}

{% block content2_title %}
	Un'racconto. Vissuto da te, e che sceglierai tu come far dirigere.
{% endblock content2_title %}

{% block content2 %}
	Spero sia per te divertente almeno la metà di quanto mi sono divertito io a scriverla.
	Chiedo venia per ripetizioni ed errori.. Ha richiesto più fatica del previsto! 
	Ma ora basta cincischiare, che la storia abbia inizio! 
	<p>
		<a href="/1/"> GO! </a>
	</p>

{% endblock content2 %}