{% extends 'indizio/base.html' %}

{% block title1 %}
	Benvenuta!
{% endblock %}

{% block content1_title %}
	Questo è un sito dinamico, creato con e grazie al signor Django. 
{% endblock content1_title %}

{% block content1 %}
	Ma non ci perdiamo troppo nei particolari ora.. Who cares dei dettagli tecnici?
{% endblock content1 %}

{% block title2 %}
	L'idea era quella di scrivere qualcosa per te.. Ma cosa?
{% endblock %}

{% block content2_title %}
	Un'racconto! Un opera narrativa vissuta da te, in prima persona, che ti divertirai (forse..) a dirigere. <br />
	Ebbene sì, nulla di nuovo, ho semplicemente rubato l'idea di 
	<a href="https://duckduckgo.com/?q=lupo+solitario&t=lm&ia=web">Lupo Solitario</a>, noto scrittore di libri game.. <br />
	E l'ho rimodernizzata un po' :)
{% endblock content2_title %}

{% block content2 %}
	Chiedo venia per ripetizioni ed errori.. Ha richiesto più fatica del previsto, e mi sono preoccupato più del lato tecnico che di quello narrativo :\ <br /> 
	Ma ora basta cincischiare, che la storia abbia inizio! 
	<p>
		<a href="/5/"> GO! </a>
	</p>

{% endblock content2 %}